.cart-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 33, 33, 0.511);
}

.cart-modal-container {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    padding: 20px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    background-color: black;
    color: white;
}

.cart-header button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}



.cart-modal-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}