---
import { MenuButton } from "./MenuButton.tsx"
import { AuthNavbar } from "./AuthNavbar.tsx"

const routes = [
    {
        url: "/",
        title: "INICIO",
    },
    {
        url: "/menu",
        title: "MENÚ",
    },
    {
        url: "/events",
        title: "EVENTOS",
    },
]
---
<header class="navbar bg-base-100 fixed z-10 lg:static p-3 justify-between">
    <div class="">
        <a class="btn btn-ghost text-xl" href="/">
            <img src="/logo_footer.png" class="w-full h-full object-cover"/>
        </a>
    </div>
    <div class="m-2 lg:hidden">
        <MenuButton client:load/>
    </div>
    <div class="hidden lg:block lg:w-1/2 lg:h-full w-full h-screen" id="navbar-menu">
        <ul class="flex flex-col lg:flex-row">
            {
                routes.map((route) => (
                    <li>
                        <a
                            href={route.url}
                            class="btn btn-ghost"
                        >{ route.title }</a>
                    </li>
                ))
            }
            <AuthNavbar client:load/>
        </ul>
    </div>
</header>
