---
const routes = [
    {
        url: "/",
        title: "INICIO",
    },
    {
        url: "/menu",
        title: "MENÚ",
    },
    {
        url: "/gallery",
        title: "GALERIA",
    },
    {
        url: "/events",
        title: "EVENTOS",
    },
    {
        url: '/login',
        title: "INICIAR SESIÓN"
    }
]
---
<header class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">
            <img src="/logo_footer.png" class="w-full h-full object-cover"/>
        </a>
    </div>
    <div class="flex">
        <ul class="lg:flex">
            <li>
                {
                    routes.map((route) => (
                        <a href={route.url} class="btn btn-ghost">{ route.title }</a>
                    ))
                }
            </li>
        </ul>
    </div>
</header>