<header>
    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>