---
import { ConfigContent } from "@components/admin/config/ConfigContent";
import LayoutAdmin from "@layouts/LayoutAdmin.astro";

---

<LayoutAdmin title="Configuración">
    <h1>
        Configuración
    </h1>
    <ConfigContent client:load />
</LayoutAdmin>