---
import LayoutAdmin from "@layouts/LayoutAdmin.astro";

export const prerender = false;
const routes = [
  {
    url: "/admin/menu/plates",
    title: "Platillos",
    description: "Administra los platillos de tu menú",
  },
  {
    url: "/admin/menu/categories",
    title: "Categorías",
    description: "Administra las categorías de tu menú",
  },
  {
    url: "/admin/menu/ingredients",
    title: "Ingredientes",
    description: "Administra los ingredientes de tu menú",
  },
];
---

<LayoutAdmin title="Menu">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20">
    {
        routes.map((route) => (
            <div class="card lg:w-64 w-full bg-base-100 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">{route.title}</h2>
                    <p>{route.description}</p>
                    <div class="card-actions justify-end">
                        <a class="btn btn-info" href={route.url}>ir a {route.title}</a>
                    </div>
                </div>
            </div>
        ))
    }
  </div>
</LayoutAdmin>
