/* todo: Update these styles  */
.active {
    background-color: #f1f1f1;
    color: #333;
}


.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}

.navbar__link a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.3s;
}


/* Cart section  */

.cart-quantity {
    background-color: #333;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    right: 0;
}

.cart-container {
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cart-button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
}
