---
import Layout from "@layouts/Layout.astro"
export const prerender = false;

---

<Layout title="Menu">
    <h1 class="w-full font-bold text-center ">MENÚ</h1>

    <section>
        <h2 class="w-full font-bold text-center ">ENTRADAS</h2>
        <div 
            class="flex flex-col w-full p-1 m-2  sm:bg-slate-100  sm:justify-evenly md:bg-black "
        >
           <h2 class="w-full font-bold text-center ">PAPAS</h2>
           <div class="md:grid grid-cols-2">

                <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-80 md:justify-evenly w-80 ">
                    <img class="h-80 w-auto" src="/public/image_menu/01_french_fries.jpg" alt="">
                    <h2>French Fries</h2>
                    <p>3.5$</p>
                    <p>Papas a la francesa acompañadas de sal, pimienta y perejil</p>
                </div>
                <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                        <img class="h-80 w-auto" src="/public/image_menu/02_french_cheese.jpg" alt="">
                        <h2>French Cheese</h2>
                        <p>5.00$</p>
                        <p>Papas a la francesa bañada en queso fundido, tocineta y perejil</p>
                </div>
                <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                        <img class="h-80 w-auto" src="/public/image_menu/03_french_chili.jpg" alt="">
                        <h2>French Chili</h2>
                        <p>7.0$</p>
                        <p>Papas a la francesa bañada en queso fundido y chili de la casa</p>
                </div>
                <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                        <img class="h-80 w-auto" src="/public/image_menu/04_choripapas.png" alt="">
                        <h2>Choripapa</h2>
                        <p>5.0$</p>
                        <p>Papas a la francesa acompañadas de queso, chorizo y salsas</p>
                </div>

           </div>
           

           <h2 class="w-full font-bold text-center ">TAPAS</h2>

           <div class="md:grid grid-cols-2">

                <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                        <img class="h-80 w-auto" src="/public/image_menu/05_tequeños.jpg" alt="">
                        <h2>Tequeños</h2>
                        <p>5.0$</p>
                        <p>A escoger entre queso, queso con bocadillo y queso con oregano</p>
                </div>

                <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                        <img class="h-80 w-auto" src="/public/image_menu/06_nachos.jpg" alt="">
                        <h2>Nachos</h2>
                        <p>9.0$</p>
                        <p>Tortillas de maíz, acompañadas de chili de la casa, queso fundido, picoe´gallo y guacamole</p>
                </div>

           </div>


           <h2 class="w-full font-bold text-center ">FUERTES</h2>

           <div class="md:grid grid-cols-2">

                <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                        <img class="h-80 w-auto" src="/public/image_menu/07_tenders.jpg" alt="">
                        <h2>Tenders</h2>
                        <p>8.0$</p>
                        <p>Tenders de pollo, con papas a la francesa y salsa de la casa</p>
                </div>

                <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                        <img class="h-80 w-auto" src="/public/image_menu/08_picada_mixta.jpg" alt="">
                        <h2>Picada Mixta</h2>
                        <p>9.0$</p>
                        <p>Lomito y pechuga de pollo en tiras salteados en vegetales, acompañado de papas a la francesa y salsa de la casa</p>
                </div>
        
           </div>


        </div>
    </section>

    <section>
        <h2 class="w-full font-bold text-center ">BURGERS</h2>
        <div 
            class="flex flex-col w-full p-1 m-2 bg-red-600 sm:bg-slate-100  sm:justify-evenly md:bg-black md:justify-evenly "
        >

        <div class="md:grid grid-cols-3">

            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-80 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/09_cheeseburguer.jpg" alt="">
                <h2>Cheeseburguer</h2>
                <p>5.0$</p>
                <p>Croqueta de carne, pollo al grill o pollo crispy, queso gouda, vegetales frescos y salsas.</p>
           </div>
           <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/010_bacon_cheeseburguer.jpeg" alt="">
                <h2>Bacon Cheeseburguer</h2>
                <p>5.5$ - 6.0$</p>
                <p>Croqueta de carne, pollo al grill o pollo crispy, queso gouda, tocineta, vegetales frescos y salsas.</p>
           </div>
           <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/011_double_bacon.jpg" alt="">
                <h2>Doble Bacon</h2>
                <p>6.0$ - 7.0$</p>
                <p>Croqueta de carne, pollo al grill o pollo crispy, doble queso gouda, doble tocineta vegetales frescos y salsas.</p>
           </div>
           <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/012_super_burguer.jpg" alt="">
                <h2>Super Burguer</h2>
                <p>10.0$</p>
                <p>Triple proteína a escoger entre croqueta de carne, pollo grill, pollo crispy, con queso gouda, tocineta, vegetales frescos y salsas</p>
           </div>

           <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/013_burguer_jr.png" alt="">
                <h2>Burguer Jr.</h2>
                <p>3.0$</p>
                <p>Croqueta pequeña, vegetales frescos, queso gouda y salsas</p>
           </div>

        </div>

           <h2 class="w-full font-bold text-center ">EXTRA</h2>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/01_french_fries.jpg" alt="">
                <h2>PAPAS.</h2>
                <p>2.0$</p>
                <p>150gr de papas a la francesa, acompañada con salsa de tomate</p>
            </div>
       </div>
    </section>

    <section>
        <h2 class="w-full font-bold text-center ">PIZZAS</h2>
        <div 
            class="flex flex-col w-full p-1 m-2 bg-red-600 sm:bg-slate-100  sm:justify-evenly md:bg-black md:justify-evenly "
        >

        <div class="md:grid grid-cols-3">

            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-80 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/014_pizza_margarita.jpg" alt="">
                <h2>Pizza Margarita</h2>
                <p>6.0$</p>
                <p>salsa de tomate, mozzarella, albahaca fresca.</p>
           </div>
           <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/015_pizza_caprese.jpg" alt="">
                <h2>Capresse</h2>
                <p>8.0$</p>
                <p>Pesto, tomate confitado, mozarella</p>
           </div>
           <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/016_pizza_granjera.jpg" alt="">
                <h2>Granjera</h2>
                <p>8.0$</p>
                <p>Salsa de tomate, mozzarella, pimetón, maíz, pollo y tocineta</p>
           </div>
           <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/017_pizza_vegetariana.jpg" alt="">
                <h2>Vegetariana</h2>
                <p>6.0$</p>
                <p>Salsa de tomate, pimentón, cebolla y champiñones</p>
           </div>
           <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/018_pizza_cuatro_quesos.jpg" alt="">
                <h2>Cuatro Quesos</h2>
                <p>8.0$</p>
                <p>Salsa de tomate, mozzarella, queso azul, queso gouda y queso parmesano</p>
           </div>
           <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/019_pizza_new_york.jpg" alt="">
                <h2>New York</h2>
                <p>6.0$</p>
                <p>Salsa de tomate, mozzarella y pepperoni</p>
           </div>
           <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/019_pizza_sargento_pimienta.webp" alt="">
                <h2>Sargento Pimienta</h2>
                <p>8.0$</p>
                <p>Salsa de tomate, mozzarella, jamón, champiñones, chorizo español, pollo, pimentón y cebolla</p>
           </div>

        </div>


       </div>
    </section>

    <section>
        <h2 class="w-full font-bold text-center ">COCTELES</h2>
        <div 
            class="flex flex-col w-full p-1 m-2 bg-red-600 sm:bg-slate-100  sm:justify-evenly md:bg-black md:justify-evenly "
        >

        <div class="md:grid grid-cols-3"> 

                <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-80 md:justify-evenly w-80">
                    <img class="h-80 w-auto" src="/public/image_menu/020_cuba_libre.jpg" alt="">
                    <h2>Cuba Libre</h2>
                    <p>3.5$</p>
                    <p>Ron dorado, limón, amargo de angostura, coca cola.</p>
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                    <img class="h-80 w-full" src="/public/image_menu/021_mojito.jpg" alt="">
                    <h2>Mojito</h2>
                    <p>3.5$</p>
                    <p>Ron blanco, hierbabuena, limon, azucar y chinotto</p>
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                    <img class="h-80 w-auto" src="/public/image_menu/022_caipirissima.jpg" alt="" alt="">
                    <h2>Caipirissima</h2>
                    <p>3.5$</p>
                    <p>Ron blanco, limón en trozos y azúcar</p>
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                    <img class="h-80 w-auto" src="/public/image_menu/023_caipiroska.jpg" alt="" alt="">
                    <h2>Caipiroska</h2>
                    <p>3.5$</p>
                    <p>Vodka, limón en trozos y azúcar</p>
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                    <img class="h-80 w-auto" src="/public/image_menu/024_long_island.jpg" alt="">
                    <h2>Long Island</h2>
                    <p>4.0$</p>
                    <p>Ron blanco, vodka, tequila, ginebra, triple sec, jarabe simple, limón y coca cola</p>
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                    <img class="h-80 w-auto" src="/public/image_menu/025_gin_tonic.webp" alt="">
                    <h2>Gin Tonic</h2>
                    <p>4.5$</p>
                    <p>Ginebra, aguakina, aromatizado a elección</p>
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                    <img class="h-80 w-auto" src="/public/image_menu/026_margarita.webp" alt="">
                    <h2>Margarita</h2>
                    <p>4.0$</p>
                    <p>Tequila, triple sec, limón y azúcar</p>
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                    <img class="h-80 w-auto" src="/public/image_menu/027_daikiri.jpg" alt="">
                    <h2>Daikiri</h2>
                    <p>4.0$</p>
                    <p>Ron blanco, limón y azúcar</p>
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                    <img class="h-80 w-auto" src="/public/image_menu/028_moscow_mule.jpeg" alt="">
                    <h2>Moscow Mule</h2>
                    <p>3.5$</p>
                    <p>Vodka, jarabe simple, limón y ginger beer</p>
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                    <img class="h-80 w-auto" src="/public/image_menu/029_espresso_martini.jpg" alt="">
                    <h2>Espresso Martini</h2>
                    <p>4.0$</p>
                    <p>Vodka, Licor de café, jarabe simple y café espresso</p>
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                    <img class="h-80 w-auto" src="/public/image_menu/030_tinto_de_verano.jpg" alt="">
                    <h2>Tinto de Verano</h2>
                    <p>4.0$</p>
                    <p>Vino tinto, jarabe simple, limón y chinotto</p>
                </div>
                <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                    <img class="h-80 w-auto" src="/public/image_menu/031_orgasmo.jpg" alt="">
                    <h2>Orgasmo</h2>
                    <p>4.5$</p>
                    <p>Crema de Whisky, licor de café, amaretto</p>
                </div>

        </div>
        
        <h2 class="w-full font-bold text-center ">FROZZEN</h2>

        <div class="md:grid grid-cols-3">

            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/032_daikiri_frozzen.png" alt="">
                <h2>Daikiri Frozzen</h2>
                <p>4.5$</p>
                <p>Ron blanco, limón, azúcar y fruta a elección</p>
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/033_blue_margarita.jpeg" alt="">
                <h2>Blue Margarita</h2>
                <p>4.5$</p>
                <p>Tequila, blue curazao, limón, azúcar</p>
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/034_piña_colada.jpg" alt="">
                <h2>Piña Colada</h2>
                <p>5.0$</p>
                <p>Crema de whisky, ron de coco, azúcar, piña</p>
            </div>

        </div>

        <h2 class="w-full font-bold text-center ">DE LA CASA</h2>

        <div class="md:grid grid-cols-3">

            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/035_sargento_pimienta.jpeg" alt="">
                <h2>Sargento Pimienta</h2>
                <p>3.5$</p>
                <p>Ginebra, amaretto, triple sec, parchita, mandarina y azúcar</p>
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/036mojito_sargento.jpeg" alt="">
                <h2>Mojto Sargento</h2>
                <p>3.5$</p>
                <p>Ron de coco, blue curazao, hierbabuena, limón, azúcar y chinotto</p>
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/037_mojito_almendrado.jpg" alt="">
                <h2>Mojito Almendrado</h2>
                <p>3.5$</p>
                <p>Ron blanco, amaretto, hierbabuena, limón, azúcar y chinotto</p>
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/038_tinto_sargento.jpg" alt="">
                <h2>Tinto Sargento</h2>
                <p>4.0$</p>
                <p>Vino tinto, ron de coco, cerveza, jarabe simple y limón</p>
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/039_tinto_pimienta.jpg" alt="">
                <h2>Tinto Pimienta</h2>
                <p>4.0$</p>
                <p>Vino tinto, triple sec, jarabe simple, limón y chinotto</p>
            </div>

        </div>

        <h2 class="w-full font-bold text-center ">CERVEZA</h2>

        <div class="md:grid grid-cols-3">

            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/040_cerbeza_zulia.jpeg" alt="">
                <h2>Zulia - Morena</h2>
                <p>1.20$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/041_cerbeza_polar.jpeg" alt="">
                <h2>Polar - Light</h2>
                <p>1.20$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-full" src="/public/image_menu/042_cerbeza_solera.jpeg" alt="">
                <h2>Solera</h2>
                <p>1.50$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/043_tobo_zulia.jpeg" alt="">
                <h2>Tobo de Zulia - Polar</h2>
                <p>10$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/045_tobo_solera.jpeg" alt="">
                <h2>Tobo de Solera</h2>
                <p>12$</p> 
            </div>

        </div>

        <h2 class="w-full font-bold text-center ">BOTELLAS</h2>

        <div class="md:grid grid-cols-3">
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/046_ron_añejo.jpeg" alt="">
                <h2>Ron Añejo</h2>
                <p>22$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/047_ron_reserva.jpg" alt="">
                <h2>Ron Reserva</h2>
                <p>35$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/048_ron_premium.jpg" alt="">
                <h2>Ron Premium</h2>
                <p>65$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/049_whisky_8_años.jpeg" alt="">
                <h2>Whisky 8 años</h2>
                <p>40$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/050_whisky_12_años.jpeg" alt="">
                <h2>Whisky 12 años</h2>
                <p>60$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/051_whisky_nacional.jpg" alt="">
                <h2>Whisky Nacional</h2>
                <p>35$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/052_whiskey_jack_daniels.jpeg" alt="">
                <h2>Whisky Jack Daniels</h2>
                <p>60$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/053_ginebra.jpg" alt="">
                <h2>Ginebra</h2>
                <p>55$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/054_vodka.jpg" alt="">
                <h2>Vodka</h2>
                <p>70$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/055_tequila.jpg" alt="">
                <h2>Tequila</h2>
                <p>55$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/056_jaggermeister.jpg" alt="">
                <h2>Jaggermeister</h2>
                <p>60$</p> 
            </div>

        </div>

        <h2 class="w-full font-bold text-center ">BEBIDAS</h2>
        
        <div class="md:grid grid-cols-3">
        
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/057_refrescos.jpg" alt="">
                <h2>Refrescos</h2>
                <p>1.50$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/058_refreso_vaso.jpeg" alt="">
                <h2>Refresco en Vaso</h2>
                <p>1.0$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/059_jugos.webp" alt="">
                <h2>Jugos</h2>
                <p>1.5$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/060_frappes.jpeg" alt="">
                <h2>Frappes</h2>
                <p>2.0$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/061_soda.jpeg" alt="">
                <h2>Soda - Aguakina</h2>
                <p>2.0$</p> 
            </div>
            <div class="w-3/4 h-auto mx-auto bg-blue-500 m-1 text-center sm:justify-evenly w-40 md:justify-evenly w-80">
                <img class="h-80 w-auto" src="/public/image_menu/062_agua_mineral.jpeg" alt="">
                <h2>Agua Mineral</h2>
                <p>1.5$</p> 
            </div>

        </div>   
            
       </div>
    </section>
</Layout>