<aside
class="bg-black text-white w-1/4 h-full fixed">
    <h1 class="text-5xl text-center">
        <a href="/admin/">
            INICIO
        </a>
    </h1>
    <div class="p-5">
        <slot name="content"/>
    </div>
    <footer class="absolute bottom-0">
        <slot name="footer"/>
    </footer>
</aside>