---
import LayoutAdmin from "@layouts/LayoutAdmin.astro"
import {PlateInfo} from '@components/admin/plates/plate/PlateInfo.tsx'

export const prerender = false

const id = Number(Astro.params.id)

---

<LayoutAdmin title="Platillo">
    <div class="w-full">
        <a href="/admin/menu/plates" class="text-left btn">
            Volver al listado
        </a>
    </div>
    
    <PlateInfo id={id} client:load />
</LayoutAdmin>