---
import { EventInfo } from "@components/admin/events/event/EventInfo";
import LayoutAdmin from "@layouts/LayoutAdmin.astro";
export const prerender = false;


const id = Number(Astro.params.id)

---

<LayoutAdmin title="Event">
    <a href="/admin/events">
        Volver
    </a>
    <EventInfo id={id} client:load />
</LayoutAdmin>