---
import LayoutAdmin from "@layouts/LayoutAdmin.astro";
import { apiConnection } from "@lib/api/api";
import { type IEvent } from "@lib/events/types.d";
import {EventContent} from "@components/react/admin/events/EventContent";
export const prerender = false;


const {id} = Astro.params
---

<LayoutAdmin title="Event">
    <a href="/admin/events">
        Volver
    </a>

    <EventContent id={id} client:load/>

</LayoutAdmin>