<div class="carousel rounded-box w-full h-full">
  <div class="carousel-item md:w-1/2 w-full h-2/3">
    <img src="/image_menu/entradas.jpg" class="w-full" />
  </div> 
    <div class="carousel-item md:w-1/2 w-full h-full">
      <img src="/image_menu/burgers.jpg" class="w-full" />
    </div> 
    <div class="carousel-item md:w-1/2 w-full h-full">
      <img src="/image_menu/pizza.jpg" class="w-full" />
    </div> 
    <div class="carousel-item md:w-1/2 w-full h-full">
      <img src="/image_menu/cocteles.jpg" class="w-full" />
    </div> 
    <div class="carousel-item w-full md:w-1/2 h-full">
      <img src="/image_menu/bebidas.jpg" class="w-full" />
    </div> 
  </div>