
<div class="w-full flex h-96 bg-black flex-col-reverse md:flex-row justify-around">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d293.8204261127827!2d-72.21947556623466!3d7.772779544837741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e666c966e37280d%3A0x1a7b8fe4c4bf36e!2sSargento%20Pimienta!5e0!3m2!1ses!2sve!4v1716600639790!5m2!1ses!2sve" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="p-3 w-full md:w-1/2"></iframe>


        <h3 class="font-extrabold text-3xl self-center text-center w-full md:w-1/2 p-5 text-yellow-300">¿DONDE NOS CONSIGUES?</h3>
</div>