---
import LayoutAdmin from "@layouts/LayoutAdmin.astro";
import {PlatesContent} from '@components/admin/plates/PlatesContent'
import {CreatePlate} from '@components/admin/plates/CreatePlate'
---

<LayoutAdmin title="Platillos">
    <h1 class="text-center">Platillos</h1>
    <CreatePlate client:load />
    <PlatesContent client:load />
</LayoutAdmin>