<div class="bg-red-600 w-full flex flex-col items-center p-10">
    <div class="w-full h-64 flex justify-center mb-6">
        <img src="/fondo.png" alt="" class="h-full">
    </div>

    <h4 class="font-black text-xl md:text-3xl text-black mb-4">HISTORIA</h4>
    <h5 class="font-extrabold text-lg md:text-2xl text-black text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ullam, pariatur exercitationem veniam minima repellendus consequatur eveniet facere doloremque eos quod itaque sapiente error amet saepe in quae adipisci consectetur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo odit libero deserunt. Non, ea maxime laborum cumque vel sunt rem vero expedita mollitia ipsum voluptatibus perferendis architecto, eum porro maiores?
    </h5>

</div>