---
import { ViewTransitions } from 'astro:transitions';
import Panel from '@components/astro/admin/Panel.astro'
import ListContainer from '@components/astro/admin/ListContainer.astro'
import ListItem from '@components/astro/admin/ListItem.astro'
import FooterComponent from '@components/astro/admin/FooterComponent.astro'
interface Props {
    title: string;
}

const { title } = Astro.props

const routes = [
    {
        title: "Eventos",
        url: "/admin/events"
    },
    {
        title: "Eventos",
        url: "/admin/events"
    },
    {
        title: "Eventos",
        url: "/admin/events"
    }
]

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sargento Pimiento Admin | {title}</title>
    <ViewTransitions fallback='none'/>
</head>
<body>
    <Panel transition:persist >
        <ListContainer slot='content'>
            {
                routes.map(({title,url}) => (
                    <ListItem title={title} url={url} />
                ))
            }
        </ListContainer>
        <FooterComponent slot='footer'/>
    </Panel>
    <main class="w-[75%] absolute right-0 p-2">
        <slot/>
    </main>
</body>
</html>


<style>
    body {
        height: 100vh;
        display: flex;
    }
</style>