.card-menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.menu-paginator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}